<!DOCTYPE html>
<html ng-app="scm">
	<head>
		<title>SCM App</title>
		<base href="/">
		<meta charset="UTF-8">
		<meta name="description" content="connects your friends online">
		<meta name="keywords" content="scm,schoolconnect">
		<meta name="author" content="Poorna">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- scripts start -->
		<script src="Src/scripts/jquery-3.1.0.min.js"></script>
		<script src="Src/scripts/bootstrap.min.js"></script>
		<script src="Src/scripts/angular.min.js"></script>
		<script src="Src/scripts/angular-route.min.js"></script>
		<script src="Src/scripts/ngStorage.js"></script>
		<script src="Src/scripts/app.js"></script>
		
		<!-- services start -->
		<script src="Src/scripts/services/CommonMethods.js"></script>
		<script src="Src/scripts/services/Services.js"></script>
		<script src="Src/scripts/services/LocalStorageService.js"></script>
		<script src="Src/scripts/services/fileModelService.js"></script>
		<!-- services end -->

		<!-- directives start -->
		<script src="Src/scripts/directives/fileModelDirective.js"></script>
		<!-- directives end -->
		
		<!-- controllers start -->
		<script src="Src/scripts/controllers/MainCtrl.js"></script>
		<script src="Src/scripts/controllers/RegisterCtrl.js"></script>
		<script src="Src/scripts/controllers/LoginCtrl.js"></script>
		<script src="Src/scripts/controllers/LogoutCtrl.js"></script>
		<script src="Src/scripts/controllers/HomeCtrl.js"></script>
		<script src="Src/scripts/controllers/ForgotCtrl.js"></script>
		<!-- controllers end -->
		
		<!-- scripts end -->
		
		<!-- styles start -->		
		<link href="Src/styles/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="Build/styles/style.css" type="text/css" rel="stylesheet" />
		<link href="Src/styles/newstyle.css" type="text/css" rel="stylesheet" />

		<!-- styles end -->
	</head>
	<body ng-controller="MainCtrl as m">
		<div class="menucolor">			
			<div class="container">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<a class="loginlogo" href="#/">
						<img src="/Build/Images/schoolconnect-Me_image.png" alt="">
					</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4  pull-right">
					<a class="btn btn-primary btn-sm btnset1 dropdown-toggle  col-md-3 col-sm-6 col-xs-12" href="register" ng-if="!m.latestData()" ng-show="location.path()!='/register' && location.path()!='/forgot'" ng-cloak>Register</a>
					<a class="btn btn-primary btn-sm btnset1 dropdown-toggle  col-md-3 col-sm-6 col-xs-12" href="/" ng-show="location.path()!='/' && location.path()!='/home'" ng-cloak>Login</a>
					<a class="btn btn-primary btn-sm btnset1 dropdown-toggle  col-md-3 col-sm-6 col-xs-12" href="logout" ng-if="m.latestData()" ng-cloak>Logout</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div ng-view></div>			
		</div>
		<!-- Footer Start -->
		<footer id="footer">
			<hr class="soften">
			<div class="container text-center">
				<div class="col-lg-12 ">
				</div>
			</div>
			<div class="container">
				<p class="text-center">© 2017. All Rights Reserved.</p>
			</div>
		</footer>
		<!-- Footer End -->
	</body>
</html>