<?xml version="1.0"?>
<configuration> 
       
 <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
   

  <iisnode       
      node_env="%node_env%" 
    nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
     nodeProcessCountPerApplication="1" 
       maxConcurrentRequestsPerProcess="1024" 
      maxNamedPipeConnectionRetry="100" 
     namedPipeConnectionRetryDelay="250"       
      maxNamedPipeConnectionPoolSize="512" 
   maxNamedPipePooledConnectionAge="30000" 
      asyncCompletionThreadCount="0" 
     initialRequestBufferSize="4096" 
     maxRequestBufferSize="65536" 
    watchedFiles="*.js;iisnode.yml" 
   uncFileChangesPollingInterval="5000"       
     gracefulShutdownTimeout="60000" 
     loggingEnabled="true" 
     logDirectory="iisnode" 
    debuggingEnabled="true" 
      debugHeaderEnabled="false" 
     debuggerPortRange="5058-6058" 
      debuggerPathSegment="debug" 
     maxLogFileSizeInKB="128" 
       maxTotalLogFileSizeInKB="1024" 
      maxLogFiles="20" 
      devErrorsEnabled="true" 
      flushResponse="false"       
       enableXFF="false" 
     promoteServerVars="" 
     configOverrides="iisnode.yml" 
     /> 

 <rewrite>
       <rules>
        <rule name="myapp">
       <match url="/*" />
        <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
     </rewrite>  
     
    <!--    <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>-->
        <directoryBrowse enabled="true" />
<modules>
       <remove name="WebDAVModule"/>
    </modules>
  </system.webServer>

 <appSettings>
    <add key="deployPath" value="/tsappsvr/TestExpress/0.0.0" />
  </appSettings>
</configuration>