<div class="container">
	<!-- Begin Page Content -->
	<div class="col-md-12 content-pre" style="padding-bottom: 50px;">
			<div class="col-md-2 content">
				<div id="col-left" class="col-left ">
                    <ul class="main-menu">
                        <nav id="main-nav" class="main-nav">
                            <li class="has-submenu">
                                <a href="/"><i class="glyphicon glyphicon-home"></i><span class="text">Home</span><i class="glyphicon glyphicon-chevron-right arrow"></i></a>
                            </li>
                            <li class="has-submenu active">
                                <a href="#" class="user-clr"><i class="glyphicon glyphicon-user user-clr"></i><span class="text user-clr arr-pos-left">Users</span><i class="glyphicon glyphicon-chevron-right arrow user-clr arr-pos"></i></a>
                            </li>
                            <li class="has-submenu">
                                <a href="reset"><i class="glyphicon glyphicon-briefcase"></i><span class="text">Reset Password</span><i class="glyphicon glyphicon-chevron-right arrow"></i></a>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><i class="glyphicon glyphicon-comment"></i><span class="text">Messages</span><i class="glyphicon glyphicon-chevron-right arrow"></i></a>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><i class="glyphicon glyphicon-picture"></i><span class="text">Photos</span><i class="glyphicon glyphicon-chevron-right arrow"></i></a>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><i class="glyphicon glyphicon-expand"></i><span class="text">Videos</span><i class="glyphicon glyphicon-chevron-right arrow"></i></a>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><i class="glyphicon glyphicon-user"></i><span class="text">Group</span><i class="glyphicon glyphicon-chevron-right arrow"></i></a>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><i class="glyphicon glyphicon-blackboard"></i><span class="text">Schools</span><i class="glyphicon glyphicon-chevron-right arrow"></i></a>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><i class="glyphicon glyphicon-user"></i><span class="text">Friends</span><i class="glyphicon glyphicon-chevron-right arrow"></i></a>
                            </li>
                            <li class="has-submenu1 out-bg">
                                <a href="logout" class="out-mar">
                                <i class="glyphicon glyphicon-user"></i>
                                <span class="text">
                                	{{userInfo[0].UserProfile[0].username}}
                                </span><i class="glyphicon glyphicon-share arrow"></i></a>
                            </li>
                        </nav>
                    </ul>
                </div>
			</div>
			<div class="col-md-10" style="margin-left: 10px;">
				<h2>{{cp}}</h2>
				<div class="well">
					<form>
            			<label>Username</label>
            			<input type="text" value="jsmith" class="input-xlarge">
            			<label>First Name</label>
            			<input type="text" value="John" class="input-xlarge">
            			<label>Last Name</label>
            			<input type="text" value="Smith" class="input-xlarge">
            			<label>Email</label>
            			<input type="text" value="jsmith@yourcompany.com" class="input-xlarge">
            		    <div>
        	    			<button class="btn btn-primary">Update</button>
        				</div>
        			</form>
        		</div>
			</div>
	</div>
</div>