<div class="container-fluid">
	<div class="container">
		<div class="row">	
			<div class="col-md-12">
				<div class="editProfile" style="background-image:url('{{userProfile.cover_name}}');">
					<div class="col-md-1 col-md-offset-11">
						<input type="file"  id="upload-cover-photo" />
						<label id="upload-cover-photo-label" for="upload-photo">
							<span class="glyphicon glyphicon-camera"></span>
						</label>
						<button type="submit" class="btn btn-primary" value="Upload!">Upload</button>
					</div>
				</div>
				<div class="col-md-12 editProfileWizard">
					<form>
						<div class="editProfileUser">
							<div class="editProfileUserPic">
							<img ngf-thumbnail="userProfile.image_name" class="editProfileUserPic"/>
								<input type="file"  id="upload-photo" ngf-select ng-model="userProfile.image_name" />
								<label id="upload-photo-label" for="upload-photo">
									<span class="glyphicon glyphicon-camera"></span>
								</label>
							</div>
							<h3>{{userProfile.username}}</h3>
						</div>	
						<p class="editProfileUserDtl">&nbsp</p>
						<div class="editProfileUserTxt col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-1 col-xs-offset-8 text-center">
							<button type="submit" class="btn btn-primary" value="Upload!">Upload</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
					<div class="container">
						<form name="UpdateProfileForm" ng-submit="UpdateProfile(userProfile)">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
							        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
							            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8 bhoechie-tab-menu">
							              <div class="list-group">
							                <!--<a href="#" class="list-group-item active text-center">
							                  <h4 class="glyphicon glyphicon-plane"></h4>Flight
							                </a>-->
							                <a href="#" class="list-group-item active text-center">
							                  <i class="fa fa-info-circle" aria-hidden="true"></i>
													Basic Information
							                </a>
							                
							              </div>
							            </div>
							            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bhoechie-tab">
							                <!-- flight section -->
							                <!--<div class="bhoechie-tab-content ">
							                    <center>
							                      <h1 class="glyphicon glyphicon-plane" style="font-size:14em;color:#55518a"></h1>
							                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
							                      <h3 style="margin-top: 0;color:#55518a">Flight Reservation</h3>
							                    </center>
							                </div>-->
							                <!-- train section -->
							                <div class="bhoechie-tab-content active">
							                    <div class="row">
									                  <div class="col-md-8 col-sm-8 col-xs-12 text-center">
								                      		<h5>
								                      			<i class="fa fa-info-circle" aria-hidden="true"></i>
								                      			Basic Information
								                      		</h5>
								                      </div>
							                  	</div>
							                  	<div class="row">
								                    <div class="col-md-12 col-sm-12 col-xs-12">
									                    <div class="col-md-4 col-sm-4 col-xs-12">	
									                    	<div class="form-group">
															  <label class="control-label" for="focusedInput">First name</label>
															  <input class="form-control" type="text" value="Enter First name" ng-model="userProfile.user_fname">
															</div>
														</div>
														<div class="col-md-4 col-sm-4 col-xs-12">	
									                    	<div class="form-group">
															  <label class="control-label" for="focusedInput">Last name</label>
															  <input class="form-control" type="text" value="Enter Last name"  ng-model="userProfile.user_lname">
															</div>
														</div>
													</div>
												</div>
												<div class="row">
								                    <div class="col-md-12 col-sm-12 col-xs-12">
									                    <div class="col-md-4 col-sm-4 col-xs-12">	
									                    	<div class="form-group">
															  <label class="control-label" for="focusedInput">Email ID</label>
															  <input class="form-control" type="text" value="Enter Email ID"  ng-model="userProfile.user_email">
															</div>
														</div>
														<div class="col-md-4 col-sm-4 col-xs-12">	
									                    	<div class="form-group">
															  <label class="control-label" for="focusedInput">Mobile No</label>
															  <input class="form-control" type="text" value="Enter Mobile No"  ng-model="userProfile.user_mob">
															</div>
														</div>
													</div>
												</div>
												<div class="row">
								                    <div class="col-md-12 col-sm-12 col-xs-12">
									                    <div class="col-md-4 col-sm-4 col-xs-12">	
									                    	<div class="form-group">
															  <label class="control-label" for="focusedInput">Country</label>
															  <select class="form-control" ng-model="userProfile.country_id" ng-options="country.country_id as country.country_name for country in countryList" ng-change="StateName(userProfile.country_id)">
															  </select>
															</div>
														</div>
														<div class="col-md-4 col-sm-4 col-xs-12">	
									                    	<div class="form-group">
															  <label class="control-label" for="focusedInput">State</label>
															  <select class="form-control" ng-model="userProfile.state_id" ng-options="state.state_id as state.state_name for state in stateList">
															  <option value=''>Select State</option>
															  </select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
								                    <div class="col-md-12 col-sm-12 col-xs-12">
									                    <div class="col-md-4 col-sm-4 col-xs-12">	
									                    	<div class="form-group">
															  <label class="control-label" for="focusedInput">School</label>
															  <select class="form-control" ng-model="userProfile.school_id" ng-options="school.school_id as school.school_name for school in schoolsList">
															  </select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
								                    <div class="col-md-12 col-sm-12 col-xs-12">
									                    <div class="col-md-8 col-xs-12">	
									                    	<div class="form-group">
															  <button type="submit" class="btn btn-info" >Save</button>
															  <!--
															  data-toggle="modal" data-target="#myModal"-->
															</div>
														</div>
													</div>
												</div>
							                </div>
							            </div>
							        </div>
						    	</div>
						  </div>
						  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">							        
							        <p class="modal-title text-center" id="myModalLabel">
							        	{{successMessage}}
							        </p>							       
							      </div>							      
							    </div>
							  </div>
							</div>
						</form>
					</div><!-- Container for UpdateProfileForm -->
			</div>
		</div><!-- Row Ends -->
	</div><!-- Container Ends -->
</div><!-- ContainerFluid Ends -->