<div id="content-pre" >            
	<div class="text-center ">
		<h3>Forgot</h3>
	</div>
	<!-- Begin Page Content -->
	<div class="login_popup col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-10 col-xs-offset-1">
		<div class="modal-body">
			<form name="ForgotForm" ng-submit="forgotPassword(user)">
				<div class="form-group" ng-class="{ 'has-error' : ForgotForm.user_email.$invalid && !ForgotForm.user_email.$pristine }">                                
					<input class="form-control text-box single-line" id="user_email" name="user_email" placeholder="Email" title="Please enter Email or Mobile No" type="text" ng-model="user.user_email" required ng-pattern = '/^[^\s@]+@[a-zA-Z]+\.[a-zA-Z]{2,}$/'>
					<span class="help-block" ng-show="ForgotForm.user_email.$invalid && !ForgotForm.user_email.$pristine">Valid Email Required</span>
				</div>
				<div ng-if="message" class="err">{{message}}</div>
				<div class="form-group keepMeLog">
					<input type="submit" value="Forgot" class="btn btn-large btn-block btn-warning standard-color">
				</div>			
			</form>
		</div>
		<h3 ng-if="reset_message">{{reset_message}} <a href="login" style="display: inline;font-size: 24px;">Login Here</a></h3>
	</div>

	<div class="clearfix"></div>
	<!-- End Page Content -->
</div>