<!-- Profile page starts-->				
<div class="container-fluid newsFeedContent">
<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-md-12 scmLeftNav">
			<nav class="navbar navbar-default">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="userImg" style="background-image: url('{{vm.userProfile.profile_picture}}')">
							<!--<img src="src/images/profile/profile.jpg" alt="" />-->
						</div>
						<div class="navbar-brand" href="#">
							<div class="userBg" style="background: linear-gradient(to bottom, rgba(113,46,59,.8), rgba(113,46,59,.8)),
							url('{{vm.userProfile.cover_picture}}') no-repeat;background-size: cover;">
							<p class="userName">{{vm.userProfile.username}}</p>
							<p class="schoolName" ng-repeat="school in vm.schoolsList | filter:{school_id:vm.userProfile.school_id}">{{school.school_name}}</p>
						</div>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav">
						<li>
							<a href="home">
								<i class="fa fa-home icon7LeftNav" aria-hidden="true"></i>
								Home
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-address-card-o icon8LeftNav" aria-hidden="true"></i>Profile
							</a>
						</li>
						
						<li>
							<a href="peopleyoumayknow">
								<i class="fa fa-users icon1LeftNav" aria-hidden="true"></i>
								People You Know
							</a>
						</li>
						<li>
							<a href="friendslist">
								<i class="fa fa-slideshare icon2LeftNav" aria-hidden="true"></i>
								Friends
							</a>
						</li>
						<li>
							<a href="messages">
								<i class="fa fa-comments icon3LeftNav" aria-hidden="true"></i>		Messages
							</a>
						</li>
						<li>
							<a href="images">
								<i class="fa fa-picture-o icon4LeftNav" aria-hidden="true"></i>
								Images
							</a>
						</li>
						<li>
							<a href="videos">
								<i class="fa fa-video-camera icon5LeftNav" aria-hidden="true"></i>	
								Videos
							</a>
						</li>
						<li>
							<a href="editprofile">
								<i class="fa fa-pencil-square-o icon6LeftNav" aria-hidden="true"></i>Edit Profile
							</a>
						</li>
						<li>
							<a href="US-Institute-of-Technology-Healthcare">
								<i class="fa fa-file-text icon6LeftNav" aria-hidden="true"></i>Pages
							</a>
						</li>
						
					</ul>		
					
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="col-md-10 col-md-offset-1 col-xs-12 onlineWizard">
			<h4>Online Chat</h4>
			<div class="chatOnline">	
				<div class="onlinePeopleWizard">	
					<div class="onlinePeople" style="background-image: url('src/images/user6.jpg')">
					</div>
					<div class="onlineIcon"></div>
				</div>
				<div class="onlinePeopleWizard">	
					<div class="onlinePeople" style="background-image: url('src/images/user2.jpg')">
					</div>
					<div class="onlineIcon"></div>
				</div>
				<div class="onlinePeopleWizard">	
					<div class="onlinePeople" style="background-image: url('src/images/user3.jpg')">
					</div>
					<div class="onlineIcon"></div>
				</div>
				<div class="onlinePeopleWizard">	
					<div class="onlinePeople" style="background-image: url('src/images/user4.jpg')">
					</div>
					<div class="onlineIcon"></div>
				</div>
				<div class="onlinePeopleWizard">	
					<div class="onlinePeople" style="background-image: url('src/images/user5.jpg')">
					</div>
					<div class="onlineIcon"></div>
				</div>
				<div class="onlinePeopleWizard">	
					<div class="onlinePeople" style="background-image: url('src/images/user6.jpg')">
					</div>
					<div class="onlineIcon"></div>
				</div>
				<div class="onlinePeopleWizard">	
					<div class="onlinePeople" style="background-image: url('src/images/user2.jpg')">
					</div>
					<div class="onlineIcon"></div>
				</div>
				<div class="onlinePeopleWizard">	
					<div class="onlinePeople" style="background-image: url('src/images/user3.jpg')">
					</div>
					<div class="onlineIcon"></div>
				</div>
				<div class="onlinePeopleWizard">	
					<div class="onlinePeople" style="background-image: url('src/images/user4.jpg')">
					</div>
					<div class="onlineIcon"></div>
				</div>
			</div>
		</div>
		<div class="col-md-7 col-sm-12 content1">
            <!--
    			<h3 class="text-center">{{text}}</h3>
                <form ng-submit = "uploadFile()" enctype="multipart/form-data">
                    <div class="from-group">
                        <input type="file" class="form-control" id="exampleInputFile" file-model="myfile" />
                    </div><br/>
                    <button>upload me</button>                  
                </form>
                <div>
                    <h4 ng-if="res" ng-cloak>{{res}}</h4>
                </div>
            -->
            <div class="profile" style="background-color: white;">
                <div class="wrapper">
                    <div class="image">
                        <div class="image">
                            <img src="{{userProfile.cover_name}}" alt="people" ng-hide="filepreview" />
                            <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview" />
                            <div class="fileUpload btn btn-default">
                                <span class="glyphicon glyphicon-camera"></span>
                                <input type="file" class="upload" ng-model="myfile" id="exampleInputFile" fileinput="file" filepreview="filepreview" />
                            </div>
                        </div>
                    </div>
                </div>
                <p>{{myfile.name}}</p>
                <img src="{{myfile.name}}" >
                <div class="clear"></div>
                <div class="cover-info">
                    <div class="avatar">
                        <img src="{{userProfile.image_name}}" alt="people" >
                    </div>
                    <div class="name"><a href="#">{{userProfile.username}}</a></div>
                    <div class="name1"><a href="#">{{userProfile.school_name}}</a></div>
                </div>            
                <div class="clear"></div>
                <div class="butt-profile">
                    <div class="left left-p"><a class="fon-profile" href="changeprofile">Change Profile</a></div>
                    <div class="left"><a class="fon-photo" href="/FilesUpload/AddPhotos_Videos">Add Photos/Videos</a></div>
                    <div class="left"><a class="fon-frineds" href="/Users/ProfilePage">Friends</a></div>
                    <div class="left dropdown reqfriend">
                        <a href="" class="fon-friendrq dropdown-toggle" data-toggle="dropdown">Friend Requests ({{friendRequests.length}})</a>
                        <ul class="dropdown-menu frd_req" ng-hide="friendRequests.length==0">
                        <li ng-repeat="friendRequest in friendRequests" >
                            <div class="row">
                                <div class="comm-prof1" style="float:left">
                                    <img src="{{friendRequest.image_name}}" alt="people">
                                </div>
                                <div class="req_info">
                                    <a class="font-img" href="">{{friendRequest.username}}</a>                                    
                                    <div>
                                        <form>
                                            <input value="3" class="hideblocks text-box single-line" id="request_by_user" name="request_by_user" type="text" style="display: none;" ng-model="friendRequest.user_id">
                                            <button class="btn btn-warning btn-pos1 pull-right" ng-click="rejectRequest(friendRequest)">Reject</button>
                                        </form>
                                        <form>
                                            <input class="hideblocks text-box single-line" id="request_by_user" name="request_by_user" type="text" style="display: none;" ng-model="friendRequest.user_id">       
                                            <button class="btn btn-primary btn-pos1 pull-right" ng-click="acceptRequest(friendRequest)">Accept</button>
                                        </form>
                                        <div class="clear"></div>
                                    </div>
                                    <div style="display: none;">
                                        <input type="button" class="btn btn-primary btn-sm" value="Friend Request Sent" ng-disabled="true" style="margin-left: 9px;"></button>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </li>                          
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
    		</div>
            <div class="clear"></div>
    		<div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 comment-box">
                    <div class="col-md-1 col-sm-1 col-xs-1 comm-prof">
                        <img src="Src/images/profile/profile.jpg" alt="people">
                    </div>
                    <form method="post" ng-submit="postComments(postComment)">
                        <div class="col-md-9 col-sm-9 col-xs-9 col-top">
                            <div class="form-group">
                                <textarea class="form-control cont" cols="20" id="postComment" name="postComment" placeholder="Post your comments here" rows="2"
                                ng-model="postComment"></textarea>
                             </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 pull-right">
                            <div class="btn-group " role="group">
                                <button class="btn btn-primary btn-wid">Post</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <h3>Find Your Friend</h3>
            <!--<div class="row">
                <div class="col-md-8">
                    <input type="text" ng-keydown="$event.keyCode === 13 && action(username)" ng-model="username" class="form-control" /></label>                   
                </div>
                <div class="col-md-4">
                    <a href="/friends/{{username}}" class="btn btn-primary btn-md">Find</a>
                </div>
            </div>-->
            <div class="row">
                <div class="col-sm-8">
                    <div id="imaginary_container"> 
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control"  placeholder="Search" 
                            ng-keydown="$event.keyCode === 13 && action(username)" ng-model="username" class="form-control">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <a href="/friends/{{username}}">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>    
                                </button>  
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                    <div class="col-md-12 comment-box1">
                        <div class="people-top">
                            <img src="Src/images/peopleyoumayknow.png" alt="people"><span>People you may know</span>
                        </div>
                        <ul class="row people-bottom">
                                <li class="col-md-12 request" ng-repeat="people in PeopleYouMayKnow">
                                    <div class="col-md-2 avatar1">
                                        <img src="{{people.image_name}}" alt="people" >
                                    </div>
                                    <div class="col-md-10 request-middle">
                                        <ul>
                                            <li>
                                            <a class="font-img" href="#">{{people.username}}</a>
                                            </li>
                                            <li><a href="#" class="fon-img">{{people.school_name}}</a></li>
                                            <li>
<form>
    <button id="btnfrd_request" name="btnfrd_request" ng-model="btnfrd_request" ng-click="frdRequest(people.user_id)" class="btn btn-primary btn-pos pull-right">Meet Me</button>
</form>
                                        </li></ul>
                                    </div>
                                    <div class="clear"></div>
                                </li>                                                            
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
                -->
                <div class="row gallery-part" ng-repeat="posts in commentsInfo">
                            <div class="col-md-12 col-sm-12 col-xs-12 gallery-inner">

		    		</ul>
				</div>	
		    </form>
		</div>					
			<div class="row">
				<div classs="row" >
					<div class="col-md-12">	
						<div align="center" class="embed-responsive embed-responsive-16by9">
						    <div class="uploadedImg" style="background-image: url('src/images/post_image.jpg')"></div>
						</div>
					</div>
				</div>
				<div classs="row">
						<div class="col-md-12 commenterWizard">
							<div class="commenterpic" style="background-image: url('src/images/user6.jpg')">
								&nbsp	
							</div>
							<div class="commenterDetails">
								<div class="row commenterName">
									<h4>Ravi Kumar<span class="follower">Following</span></h4>
									<p class="likesWizard">
										<span class="likes">
											<a href="#">
												<i class="fa fa-thumbs-up" aria-hidden="true"></i>
												<span class="likesColor">12</span>
											</a>
										</span>
										<span class="dislikes">
											<a href="#">	
												<i class="fa fa-thumbs-down" aria-hidden="true">
												</i><span class="likesColor">24</span>
											</a>
										</span>

									</p>
							    </div>
							    <div class="row commentTxt">
							    	<p>
							    		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
							    	</p>
							    	<!-- Inner Comment Box -->
							    	<div classs="row" >
										<div class="col-md-12 aligncommenterWizard">
											<div class="commenterpic"
											style="background-image: url('src/images/user4.jpg')">
												&nbsp	
											</div>
											<div class="commenterDetails">
												
											    <div class="row commenterName">
											    	<p>
											    		<span class="profilename">Kiran</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
											    	</p>
											    </div>
											</div>
										</div>
									</div>
									<div classs="row" >
										<div class="col-md-12 aligncommenterWizard">
											<div class="commenterpic"
											style="background-image: url('src/images/user5.jpg')">
												&nbsp	
											</div>
											<div class="commenterDetails">
												
											    <div class="row commenterName">
											    	<p>
											    		<span class="profilename">Rathod</span>
											    		Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
											    	</p>
											    </div>
											</div>
										</div>
									</div>
									<div classs="row" >
										<div class="col-md-12 aligncommenterWizard">
												<div class="userPic" style="background-image: url('src/images/user6.jpg')"></div>	
												<div class="form-group userTxt">
											      <textarea class="form-control" rows="1"></textarea>
											        <span class="help-block errTxt">Error</span>
											    </div>
										</div>
									</div>
								<!-- Inner Comment Box Ends -->
							    </div>
							</div>
						</div>
				</div>
			</div>					
		<!-- 2ndst Image ends -->
		<!-- 3rd Image ends -->	
		<div class="row">
				<div classs="row">
					<div class="col-md-12 commenterWizard" ng-repeat="posts in vm.commentsInfo">
						<div class="commenterpic" style="background-image: url('{{userProfile.profile_picture}}')">
							&nbsp	
						</div>
						<div class="commenterDetails">
							<div class="row commenterName">
								<h4>{{posts.username}}<span class="follower">Following</span></h4>
								<p class="likesWizard">
									<span class="likes">
										<a href="#">
											<i class="fa fa-thumbs-up" aria-hidden="true"></i>
											<span class="likesColor">12</span>
										</a>
									</span>
									<span class="dislikes">
										<a href="#">	
											<i class="fa fa-thumbs-down" aria-hidden="true">
											</i><span class="likesColor">24</span>
										</a>
									</span>

								</p>
							</div>
							<div class="row commentTxt">
								<p>
									{{posts.comment}} 
								</p>												
									<div classs="row" >
										<div class="col-md-12 aligncommenterWizard">
											<div class="userPic" style="background-image: url('{{vm.userProfile.profile_picture}}')"></div>	
											<div class="form-group userTxt">
												<textarea class="form-control" rows="1"></textarea>
												<span class="help-block errTxt">{{Error}}</span>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div> 
				</div>
				<!-- 2ndst Image ends -->


			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 whotoFollow">
				<h1>Friend Requests</h1>
				<div class="follow">
					<h5 ng-show="vm.friendRequests.length==0">No friend request.</h5>
					<div class="followMemeber"  ng-repeat="friendRequest in vm.friendRequests">
						<div class="commenterpic" style="background-image: url('{{friendRequest.profile_picture}}')"></div>
						<h4>{{friendRequest.username}}</h4>
						<p>
							<button class="btn btn-primary" ng-click="acceptRequest(friendRequest)">
								<i class="fa fa fa-thumbs-up" aria-hidden="true"></i>
								Accept
							</button>
							<button class="btn btn-primary" ng-click="rejectRequest(friendRequest)">
								<i class="fa fa fa-thumbs-down" aria-hidden="true"></i>
								Reject
							</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>