<div class="">
<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4 col-sm-4">
					<div class="media col-md-10">
					  <div class="media-left media-middle">
						<a href="">
						  <i class="fa fa-users" aria-hidden="true"></i>
						</a>
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">CONNECT</h4>
						Get connected with school mates of different schools to make good ideas and stay updated with information all the time.
					  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="media col-md-11">
					  <div class="media-left media-middle">
						<a href="">
						  <i class="fa fa-share-alt" aria-hidden="true"></i>
						</a>
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">SHARE</h4>
						Share your views and thoughts in expressive manner in images, videos and experience the way of sharing.
					  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="media col-md-11 col-md-offset-1">
					  <div class="media-left media-middle">
						<a href="">
						  <i class="fa fa-weixin" aria-hidden="true"></i>
						</a>
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">CHAT</h4>
						Real time chat converstion creates similar ambience alike classroom among the students.
					  </div>
					</div>
				</div>
			</div>
		</div>
</div>
	<div class="landingCopyRgt">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center">
						 © Copyright 2017 SchoolConnect. All Rights Reserved
					</p>
				</div>
			</div>
		</div>
	</div>
</div>	

