<div id="content-pre" >
	<!-- Begin Page Content -->
	<div class="loginForm">
		<div class="text-center">
			<h3>Login</h3>
		</div>
		<div class="modal-body">
			<form name="LoginForm" ng-submit="loginUser(user)">
				<div class="form-group" ng-class="{ 'has-error' : LoginForm.user_email.$invalid && !LoginForm.user_email.$pristine }">                                
					<input class="form-control text-box single-line" id="user_email" name="user_email" placeholder="Email" title="Please enter Email or Mobile No" type="text" ng-model="user.user_email" required ng-pattern = '/^[^\s@]+@[a-zA-Z]+\.[a-zA-Z]{2,}$/'>
					<span class="help-block" ng-show="LoginForm.user_email.$invalid && !LoginForm.user_email.$pristine">Valid Email Required</span>
				</div>
				<div class="form-group">                                
					<input class="form-control text-box single-line password" id="password" name="password" placeholder="password" title="Please enter your Password" type="password" ng-model="user.password" required>
					<span class="field-validation-valid text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Sign In" class="btn btn-large btn-block btn-warning standard-color">
				</div>
				<div ng-show="message" class="err">{{err_message}}</div>
			</form>
		</div>
		<div class="text-center ">
			<h4>
				<a class="linkup" href="#forgot">Forgot Password ?</a> 
			</h4>
			<div class="cls"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	<!-- End Page Content -->
</div>