


<!-- Profile page starts-->				
<div class="container-fluid newsFeedContent">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-md-12 scmLeftNav">
					<nav class="navbar navbar-default">
					  <div class="container">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <div class="userImg" style="background-image: url('{{vm.userProfile.profile_picture}}')">
					      		<!--<img src="src/images/profile/profile.jpg" alt="" />-->
					      </div>
					      <div class="navbar-brand" href="#">
					      		<div class="userBg" style="background: linear-gradient(to bottom, rgba(113,46,59,.8), rgba(113,46,59,.8)),
url('{{vm.userProfile.cover_picture}}') no-repeat;background-size: cover;">
									<p class="userName">{{vm.userProfile.username}}</p>
									<p class="schoolName">Atlantic County Institute of Technology, Mays Landing</p>
					      		</div>
					      </div>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					      <ul class="nav navbar-nav">
					      	 <li>
					        		<a href="home">
					        			<i class="fa fa-home icon7LeftNav" aria-hidden="true"></i>
										Home
									</a>
							</li>
					      	 <li>
					        		<a href="#">
					        			<i class="fa fa-address-card-o icon8LeftNav" aria-hidden="true"></i>Profile
									</a>
							</li>
					        
					        <li>
					        		<a href="peopleyoumayknow">
					        			<i class="fa fa-users icon1LeftNav" aria-hidden="true"></i>
										People You Know
									</a>
							</li>
					        <li>
					        	<a href="friendslist">
					        		<i class="fa fa-slideshare icon2LeftNav" aria-hidden="true"></i>
					        		Friends
					        	</a>
					        </li>
					        <li>
					        	<a href="messages">
					        		<i class="fa fa-comments icon3LeftNav" aria-hidden="true"></i>		Messages
					        	</a>
					        </li>
					        <li>
					        	<a href="#">
					        		<i class="fa fa-picture-o icon4LeftNav" aria-hidden="true"></i>
									Images
					        	</a>
					        </li>
					        <li>
					        	<a href="#">
					        		<i class="fa fa-video-camera icon5LeftNav" aria-hidden="true"></i>	
					        		Videos
					        	</a>
					        </li>
					        <li>
					        	<a href="editprofile">
					        		<i class="fa fa-pencil-square-o icon6LeftNav" aria-hidden="true"></i>Edit Profile
					        	</a>
					        </li>
							<li>
								<a href="US-Institute-of-Technology-Healthcare">
									<i class="fa fa-file-text icon6LeftNav" aria-hidden="true"></i>Pages
								</a>
							</li>
					        
					      </ul>		
					      
					    </div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
					<div class="col-md-10 col-md-offset-1 col-xs-12 onlineWizard">
						<h4>Online Chat</h4>
						<div class="chatOnline">	
							<div class="onlinePeopleWizard">	
								<div class="onlinePeople" style="background-image: url('src/images/user6.jpg')">
								</div>
								<div class="onlineIcon"></div>
							</div>
							<div class="onlinePeopleWizard">	
								<div class="onlinePeople" style="background-image: url('src/images/user2.jpg')">
								</div>
								<div class="onlineIcon"></div>
							</div>
							<div class="onlinePeopleWizard">	
								<div class="onlinePeople" style="background-image: url('src/images/user3.jpg')">
								</div>
								<div class="onlineIcon"></div>
							</div>
							<div class="onlinePeopleWizard">	
								<div class="onlinePeople" style="background-image: url('src/images/user4.jpg')">
								</div>
								<div class="onlineIcon"></div>
							</div>
							<div class="onlinePeopleWizard">	
								<div class="onlinePeople" style="background-image: url('src/images/user5.jpg')">
								</div>
								<div class="onlineIcon"></div>
							</div>
							<div class="onlinePeopleWizard">	
								<div class="onlinePeople" style="background-image: url('src/images/user6.jpg')">
								</div>
								<div class="onlineIcon"></div>
							</div>
							<div class="onlinePeopleWizard">	
								<div class="onlinePeople" style="background-image: url('src/images/user2.jpg')">
								</div>
								<div class="onlineIcon"></div>
							</div>
							<div class="onlinePeopleWizard">	
								<div class="onlinePeople" style="background-image: url('src/images/user3.jpg')">
								</div>
								<div class="onlineIcon"></div>
							</div>
							<div class="onlinePeopleWizard">	
								<div class="onlinePeople" style="background-image: url('src/images/user4.jpg')">
								</div>
								<div class="onlineIcon"></div>
							</div>
						</div>
					</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 contentPost">
				<div class="row">
					<form ng-submit="vm.postComments(postComment)">
						<div class="col-md-8 col-sm-8 col-xs-6 col-xs-offset-1
						 col-sm-offset-0 col-md-offset-0 postContentField">
							<div class="userPic" style="background-image: url('{{vm.userProfile.profile_picture}}')">
							</div>	
							<div class="form-group userTxt">
						      		<textarea class="form-control" rows="2" placeholder="Post your comments here" ng-model="postComment" required="required"></textarea>
						        	<span class="help-block errTxt">{{vm.Error}}</span>
						    </div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 uploadType">
							<ul class="list-inline">
								<li class="textIcon">
									<a href="#">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-picture-o" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-video-camera" aria-hidden="true"></i>
									</a>
								</li>
								<li class="">
									<button type="submit" class="btn btn-primary">Submit</button>
								</li>

							</ul>
						</div>								
					</form>
				</div>
				
				<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="thumbnail" ng-show="vm.emptyList">
								<h4 class="text-center">{{vm.emptyList}}</h4>
								<a href="/" class="text-center">Back</a>
							</div>
						</div>	
						<div class="col-md-12 col-sm-12 col-xs-12 peopleUMyKnow" ng-repeat="people in vm.PeopleYouMayKnow">
								<div class="col-md-9 col-sm-9 col-xs-7">
									<div class="commenterpic" style="background-image: url('{{people.profile_picture}}')">
										&nbsp;	
									</div>
									<h4>{{people.followable_name}}</h4>
									<p>Following</p>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-3">
									<button class="btn btn-default" ng-click="vm.frdRequest(people.followable_id)">Add Friend</button>
								</div>
						</div>	
				</div><!-- 2ndst Image ends -->


			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 whotoFollow">
					<h1>Friend Requests</h1>
					<div class="follow">
					<h5 ng-show="vm.friendRequests.length==0">No friend request.</h5>
						<div class="followMemeber"  ng-repeat="friendRequest in vm.friendRequests">
							<div class="commenterpic" style="background-image: url('src/images/user3.jpg')"></div>
							<h4>{{friendRequest.username}}</h4>
							<p>
								<button class="btn btn-primary" ng-click="vm.acceptRequest(friendRequest)">
									<i class="fa fa fa-thumbs-up" aria-hidden="true"></i>
									Accept
								</button>
								<button class="btn btn-primary" ng-click="vm.rejectRequest(friendRequest)">
									<i class="fa fa fa-thumbs-down" aria-hidden="true"></i>
									Reject
								</button>
							</p>
						</div>
					</div>
			</div>
		</div>
	</div>	
</div>