<div id="content-pre" >            
	<div class="text-center ">
		<h3>Register</h3>
	</div>
	<div class="container">
		<form novalidate="novalidate">
			<div class="col-md-12">		   
				<div class="col-md-4 col-sm-4 form-group">
					<input class="form-control" id="user_fname" name="user_fname" placeholder="First Name" type="text" value="">
					<span class="field-validation-valid validate_msg"></span>
				</div>
				<div class="col-md-4 col-sm-4 form-group">
					<input class="form-control" id="user_mname" name="user_mname" placeholder="Middle Name" type="text" value="">
					<span class="field-validation-valid validate_msg"></span>
				</div>
				<div class="col-md-4 col-sm-4 form-group">
					<input class="form-control" id="user_lname" name="user_lname" placeholder="Last Name" type="text" value="">
					<span class="field-validation-valid validate_msg"></span>
				</div>
			</div>
			<div class="form-height col-md-12">				
				<div class="col-md-12 form-group">
					<input class="form-control" id="user_email" name="user_email" placeholder="Email id" style="margin-top:0px" type="text" value="">
					<span class="field-validation-valid validate_msg"></span>
				</div>
			</div>
			<div class="form-height col-md-12">				
				<div class="col-md-12 form-group">				
					<input class="form-control inputfield text-box single-line tooltipstered" id="user_mob" name="user_mob" placeholder="Mobile No" type="tel" value="">
					<span class="field-validation-valid validate_msg"></span>
				</div>
			</div>
			<div class="form-height col-md-12">				
				<div class="col-md-12 form-group">
					<input class="form-control" data-val="true" id="password" name="password" placeholder="Password" type="password" value="">
					<span class="field-validation-valid validate_msg"></span>
				</div>
			</div>
			<div class="form-height col-md-12">				
				<div class="col-md-12 form-group">
					<input class="form-control" id="re_password" name="re_password" placeholder="Re-Password" type="password" value="">
					<span class="field-validation-valid validate_msg"></span>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-spacing col-md-4 form-group">					
					<select class="form-control" id="country_id" name="country_id">
						<option value="0">Select Country</option>
						<option value="1">United States of America</option>
					</select>
					<span class="field-validation-valid validate_msg"></span>
				</div>
				<div class="form-spacing col-md-4 form-group">
					<select class="form-control" id="state_id" name="state_id">
						<option value="">Please select a State</option>
					</select>
					<span class="field-validation-valid validate_msg"></span>
				</div>
				<div class="form-spacing col-md-4 form-group">					
					<select class="form-control" id="city_id" name="city_id" title="Please Select your City">
						<option value="">Please select a city</option>
					</select>
					<span class="field-validation-valid validate_msg"></span>
				</div>
			</div>
			<div class="form-height col-md-12">				
				<div class="col-md-12  form-group">
					<select class="form-control" id="school_id" name="school_id" style="margin-top:0px" title="Please Select your school">
						<option value="">Please select a school</option>
					</select>					
					<span class="field-validation-valid validate_msg"></span>
				</div>
			</div>
			<div class="form-height col-md-12">
				<div class="col-md-12 form-group">					
					<input class="form-control" id="user_dateofbirth" name="user_dateofbirth" placeholder="Please select your Date of Birth" type="datetime" value="">
					<span class="field-validation-valid validate_msg"></span>
				</div>
			</div>
			<div class="form-height col-md-12">				
				<div class="col-md-6">
					<label for="user_gender">Gender</label>
				</div><div class="col-md-6">
					<input id="user_gender" name="user_gender" type="radio" value="M"> Male
					<input id="user_gender" name="user_gender" type="radio" value="F"> Female
				</div>			
			</div>
			<div class="clearfix"></div>
			<div class="form-group">
				<div class="col-xs-12 col-sm-12 col-lg-12">
					<input type="submit" value="Register here" class="btn btn-block btn-warning">
				</div>
			</div>
        </form>
    </div>
</div>