<!--<div id="content-pre" >            
	<div class="text-center ">
		<h3>Forgot</h3>
	</div>
	
	<div class="login_popup col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-10 col-xs-offset-1">
		<div class="modal-body">
			<form name="ForgotForm" ng-submit="forgotPassword(user)">
				<div class="form-group" ng-class="{ 'has-error' : ForgotForm.user_email.$invalid && !ForgotForm.user_email.$pristine }">                                
					<input class="form-control text-box single-line" id="user_email" name="user_email" placeholder="Email" title="Please enter Email or Mobile No" type="text" ng-model="user.user_email" required ng-pattern = '/^[^\s@]+@[a-zA-Z]+\.[a-zA-Z]{2,}$/'>
					<span class="help-block" ng-show="ForgotForm.user_email.$invalid && !ForgotForm.user_email.$pristine">Valid Email Required</span>
				</div>
				<div ng-if="message" class="err">{{message}}</div>
				<div class="form-group keepMeLog">
					<input type="submit" value="Continue" class="btn btn-large btn-block btn-warning standard-color">
				</div>			
			</form>
		</div>
		<h3 ng-if="reset_message">{{reset_message}} <a href="login" style="display: inline;font-size: 24px;">Login Here</a></h3>
	</div>

	<div class="clearfix"></div>
	
</div>--> 

<div class="container-fluid forgotWizard signUpWizard">
		<div class="container signUpContainer">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 pwdTitle">
							<h1 class="text-center">Reset Password</h1>
						</div>
					</div>
					<form name="ResetForm" ng-submit="resetPassword(reset)">
					<div class="row">
						<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
							<div class="form-group">
								<input class="form-control" id="oldPassword" name="oldPassword" placeholder="Old password" type="password" ng-model="reset.oldPassword" required >
								<span class="help-block" style="color: red;" ng-if="errorMessage">{{errorMessage}}</span>
							</div>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
							<div class="form-group">
								<input class="form-control" id="newPassword" name="newPassword" placeholder="New password" type="password" ng-model="reset.newPassword" ng-minlength="8" ng-maxlength="30" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required >
								<span class="text-danger" ng-show="!ResetForm.newPassword.$error.required && (ResetForm.newPassword.$error.minlength || ResetForm.newPassword.$error.maxlength) && ResetForm.newPassword.$dirty">Passwords must be between 8 and 20 characters</span>
								<span class="text-danger" ng-show="!ResetForm.newPassword.$error.required && !ResetForm.newPassword.$error.minlength && !ResetForm.newPassword.$error.maxlength && ResetForm.newPassword.$error.pattern && ResetForm.newPassword.$dirty">Must contain one lower & uppercase letter, and one numeric</span>
							</div>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
							<div class="form-group">
								<input class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" type="password" ng-model="reset.confirmPassword" required nx-equal="reset.newPassword" >
								<span class="help-block" style="color: red;"></span>
								<span class="text-danger" ng-show="!ResetForm.passwrd.$error.required && ResetForm.confirmPassword.$error.nxEqual && ResetForm.confirmPassword.$dirty">Password do not match</span>
							</div>
						</div>
					</div>	
						<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 signUpBtn" >
							<div class="form-group">
								<input class="form-control" value="Reset" type="submit" />
							</div>
						</div>					
					</form>	
				</div>
			</div>
		</div>
</div>