<div class="text-center">
	<h3 ng-repeat="user in usersList">{{user.username}}</h3>
	<h3 ng-show="emptyList">{{emptyList}}</h3>
</div>
<div class="container-fluid forgotWizard ">
<div class="container viewprofile signUpContainer">
	<div class="row">
			<div class="col-md-12">
				<div class="thumbnail" ng-show="emptyList">
					<h4 class="text-center">{{emptyList}}</h4>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-4" ng-repeat="user in usersLt">
				    <div class="thumbnail">
				      <img src="src/images/profile/Defaultpicture.jpg" alt="..." class="img-circle">
				      <div class="caption text-center">
				        <h4><a href="/ProfileDetail/{{user.user_id}}">{{user.username}}</a></h4>
				        <p>
				        	
				        	<a href="#" class="btn btn-default" role="button" ng-if="user.friend_request=='W'">
				        			<i class="fa fa-user-plus" aria-hidden="true"></i>
				        			Add
				        	</a>
				        	<a href="#" class="btn  btn-default" role="button" ng-if="user.friend_request=='A'">
				        		<i class="fa fa-users" aria-hidden="true"></i>
				        		friends
				        	</a> 
				        	<a href="#" class="btn  btn-default" role="button" ng-if="user.friend_request=='P'">
				        		<i class="fa fa-paper-plane" aria-hidden="true"></i>
				        		Request Sent
				        	</a> 
				        </p>
				      </div>
				    </div>
				</div>
				  <!--
				  <div class="col-md-2 col-sm-2 col-xs-4">
				    <div class="thumbnail">
				      <img src="src/images/profile/Defaultpicture.jpg" alt="..." class="img-circle">
				      <div class="caption text-center">
				        <h4>Mohan</h4>
				        <p>
				        	<a href="#" class="btn  btn-default" role="button">
				        		<i class="fa fa-users" aria-hidden="true"></i>
				        		friends
				        	</a> 
				        	
				        </p>
				      </div>
				    </div>
				  </div>

				  <div class="col-md-2 col-sm-2 col-xs-4">
				    <div class="thumbnail">
				      <img src="src/images/profile/Defaultpicture.jpg" alt="..." class="img-circle">
				      <div class="caption text-center">
				        <h4>kumar</h4>
				        <p>
				        	
				        	<a href="#" class="btn  btn-default" role="button">
				        		<i class="fa fa-paper-plane" aria-hidden="true"></i>
				        		Request Sent
				        	</a> 
				        </p>
				      </div>
				    </div>
				  </div>
				  -->
			</div>
	</div>
</div>
</div>